/* TYPE SCALE
7.45 rem
5.96rem
4.76rem
3.81rem
3.05rem
2.44rem
1.95rem
1.56rem
1.25rem
1rem
0.8rem
0.64rem
*/

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

$font-headers: "Space Grotesk", sans-serif;
$font-body: "Inter", sans-serif;
$green-colour: #bce206;
$black-colour: #060900;
$white-colour: #f9faf7;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $black-colour;
  color: $white-colour;
  font-family: $font-body;
}

h1,
h2,
h3 {
  font-family: $font-headers;
  font-weight: 400;
}


h2 {
  font-size: 2.44rem;
  margin: 20px 0;
}

p {
  font-family: $font-body;
}

button.round {
  background-color: $black-colour;
  color: $white-colour;
  border-radius: 62px;
  box-shadow: 0 0 12px 4px $green-colour;
  border: none;
  max-inline-size: 120px;
  padding: 0.64rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  font-family: $font-body;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  width: 90px;
  transition: 0.2s;
}

button:hover {
  background-color: $white-colour;
  color: $black-colour;
}

// button.activeButton {
//   background-color: $white-colour;
//   color: $black-colour;
// }

//LANDING PAGE
.Hero {
  height: 100vh;
  h1 {
    font-size: 3em;
    position: absolute;
    left: 10vw;
    bottom: 50vh;
    text-transform: uppercase;
  }
  button {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  div.tickets {
    font-size: 1.5rem;
    padding: 5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top: 3px $white-colour solid;
    border-bottom: 3px $white-colour solid;
    white-space: nowrap;
  }
  div.line {
    width: 85%;
    height: 2px;
    background: linear-gradient(90deg, rgba(188, 226, 6, 0.5), rgba(188, 226, 6, 0.25));
    //background-image: linear-gradient(to bottom, #000000, #bce206);
  }

  div.line-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    margin: 5px 0;
  }


}
.TicketSection {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  div.tickets-info {
    background-color: $white-colour;
    color: $black-colour;
    width: 80%;
  }
  button {
    align-self: center;
  }
}

.LineUp {
  height: 100vh;
  p {
    font-size: 3.05em;
    text-transform: uppercase;
  }

}


//FORM

.Form {
  h1 {
    font-size: 3.81rem;
      background: linear-gradient( rgba(188, 226, 6, 0.6),rgba(0, 0, 0, 0.2));
      width: 100vw;
      padding: 20px 0 40px 0;
    
  }
}

.Basket {
  background-color: $white-colour;
  color: $black-colour;
  border-radius: 5px;
  box-shadow: 0 0 12px 4px $white-colour;
  margin: 20px;
  font-size: 1.44rem;
}

.TicketsDetails {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  div.ticket-item {
    display: flex;
    gap: 20px;
    border: 1px $white-colour solid;
    padding: 10px;
  }
  button.plus-minus {
    background-color: $white-colour;
    color: $black-colour;
    border: 1px $white-colour solid;
    max-inline-size: 120px;
    padding: 0.64rem;
    font-weight: 300;
    display: flex;
    height: 30px;
    justify-content: center;
    font-family: $font-body;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
  }
}
.AreaDetails {
  .areas{
    display: flex;
  flex-direction: column;
  gap: 10px;
}

.unavailable-area {
  background-color: red;

}
  .available-area {
    background-color: $white-colour;
    color: $black-colour;
    display: flex;
    cursor: pointer;
  }

  .available-area:hover {
    background-color: $green-colour;
  }


 


  
}

.Alert {
  background-color: rgb(225, 0, 0, 0.8);
  border: 1px red solid;
  padding: 10px;
  margin: 10px;
  border-radius:5px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  // button {
  //   background-color: #f9f9f9;
  // }
}






