/* TYPE SCALE
7.45 rem
5.96rem
4.76rem
3.81rem
3.05rem
2.44rem
1.95rem
1.56rem
1.25rem
1rem
0.8rem
0.64rem
*/

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

$font-headers: "Space Grotesk", sans-serif;
$font-body: "Inter", sans-serif;
$green-colour: #bce206;
$black-colour: #060900;
$white-colour: #f9faf7;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
 
  min-width: 320px;
  min-height: 100vh;
  background-color: $black-colour;
  color: $white-colour;
  font-family: $font-body;
}

h1,
h2,
h3 {
  font-family: $font-headers;
  font-weight: 400;
}

h2 {
  font-size: 2.44rem;
  margin: 20px 0;
}

p {
  font-family: $font-body;
}

ul {
  list-style-type: none;
}



.round {
  background-color: $black-colour;
  color: $white-colour;
  border-radius: 62px;
  box-shadow: 0 0 12px 4px $green-colour;
  border: none;
  max-inline-size: 120px;
  padding: 0.64rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  font-family: $font-body;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  width: 90px;
  transition: 0.2s;
}

button:hover,
a:hover {
  background-color: $white-colour;
  color: $black-colour;
}

// button.activeButton {
//   background-color: $white-colour;
//   color: $black-colour;
// }

//LANDING PAGE
.Hero {
  height: 100vh;
  h1 {
    font-size: 3.5em;
    position: absolute;
    left: 10vw;
    bottom: 40vh;
    text-transform: uppercase;
    margin-left: 10px;
    span {
      display: block;
    }
  }
  a {
    position: absolute;
    bottom: 100px;
    right: 10vw;
  }
  div.main-line-container {
    padding-top: 10vh;
  }
  div.tickets {
    font-size: 1.5rem;
    padding: 5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    border-top: 3px $white-colour solid;
    border-bottom: 3px $white-colour solid;
    white-space: nowrap;
    max-width: 100vw;
    overflow-x: hidden;
  }
  div.line {
    width: 85%;
    height: 2px;
    background: linear-gradient(90deg, rgba(188, 226, 6, 0.5), rgba(188, 226, 6, 0.25));
    //background-image: linear-gradient(to bottom, #000000, #bce206);
  }

  div.line-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    margin: 5px 0;
  }
}
.TicketSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  a {
    color: $white-colour;
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 40px;
    border-radius: 62px;
    box-shadow: 0 0 12px 4px $green-colour;
    transition: 0.2s;
  }

  a:hover {
    color: $black-colour;
  }

  div.ticket-cards {
    display: grid;
    gap: 40px;
    width: 80%;
  }

  div.ticket-card {
    color: $white-colour;
    background-color: rgb(188, 226, 6, 10%);
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;

    .header-ticket-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px rgba(188, 226, 6, 0.6) solid;
      padding-bottom: 10px;
    }
    h3 {
      font-size: 2.44rem;
    }
    p.price {
      font-size: 1.25rem;
    }
    p {
      margin-top: 20px;
      font-size: 1rem;
    }
  }
  button {
    align-self: center;
  }
}

.LineUp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  p {
    font-size: 2.44em;
    text-transform: uppercase;
    text-align: center;
    //background-color: $white-colour;
    color: $white-colour;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    background-color: rgb(188, 226, 6, 15%);
  }
  div.lineup-header {
    font-size: 1.5rem;
    padding: 5px;
    text-transform: uppercase;
    border-top: 3px $white-colour solid;
    border-bottom: 3px $white-colour solid;
    white-space: nowrap;
    max-width: 100vw;
    overflow-x: hidden;
    margin-bottom: 40px;
  }
}

.Footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  line-height: 1.4;
  padding: 20px 0;
  background-color: rgb(188, 226, 6, 10%);
  .links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  p5-text {
    display: none;
  }
  a {
    color: $white-colour;
  }
  a:hover {
    color: $black-colour;
  }
}

//FORM

.Form {
  min-height: 90vh;
  margin: 0 auto;
  background-color:rgb(188, 226, 6, 10%);

  h1 {
    font-size: 3.05rem;
    margin: 0 10px;
    text-align: center;
    color: $green-colour;
  }
  h2 {
    font-size: 1.95rem;
  }
}

.Basket {
  background-color: $white-colour;
  color: $black-colour;
  border-radius: 5px;
  box-shadow: 0 0 12px 4px $white-colour;
  margin: 20px;
  font-size: 1.44rem;
  padding: 20px;
  li {
    list-style-type: none;
    margin: 10px 0;
    border-bottom: 1px black solid;
  }
  p.cart {
    text-transform: uppercase;
    font-weight: bolder;
  }
}

.TicketsDetails {
  display: flex;
  flex-direction: column;
  margin: 0 40px;


  div.ticket-item {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px $white-colour solid;
    padding: 10px;
    justify-content: space-between;
  }

  div.amount-selection {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  button.plus-minus {
    display: flex;
    align-items: center;
    background-color: $white-colour;
    color: $black-colour;
    border: 1px $white-colour solid;
    max-inline-size: 120px;
    padding: 0.64rem;
    font-weight: 300;
    display: flex;
    height: 30px;
    justify-content: center;
    font-family: $font-body;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
  }

  button.round {
    margin: 20px;
    align-self: flex-end;
  }

  input {
    margin: 20px;
  }

  label {
    margin-left: 20px;
    color: $green-colour;
  }
  h3 {
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
  }
}

.VisitorsDetails {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  //justify-content: space-around;
  h3 {
    margin-bottom: 10px;
  }
  .input-guest {
margin: 30px 20px;
  }
  label{
    margin-right: 10px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

}

.AreaDetails {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin: 0 40px;

  .areas {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    justify-self: center;
    padding-bottom: 20px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .unavailable-area {
    background-color: red;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;

    h3 {
      border-bottom: 2px $white-colour solid;
      font-size: 1.95em;
    }
  }
  .available-area {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: $white-colour;
    color: $white-colour;
    display: flex;
    background-color: rgb(188, 226, 6, 10%);
    h3 {
      border-bottom: 2px $green-colour solid;
      font-size: 1.95rem;
      margin: 1rem;
    }
    button {
      background-color: $white-colour;
      color: $black-colour;
      border-radius: 62px;
      box-shadow: none;
      border: none;
      max-inline-size: 120px;
      padding: 0.64rem;
      font-weight: 300;
      display: flex;
      justify-content: center;
      font-family: $font-body;
      font-size: 0.8rem;
      text-decoration: none;
      cursor: pointer;
      width: 90px;
      transition: 0.2s;
      margin: 20px;
    }

    button.active {
      background-color: $green-colour;
    }

  

    button:active {
      color: $green-colour;
     }
  }
}



.Alert {
  background-color: rgb(225, 0, 0, 0.8);
  border: 1px red solid;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.Review {
  margin: 0 40px;
  display: flex;
  flex-direction: column;

  p,
  li {
    margin: 20px;
    font-size: 1.56rem;
  }
  h3 {
    text-transform: uppercase;
    font-size: 1.95rem;
    border-bottom: 2px $green-colour solid;
  }
  .card {
    background-color: rgb(188, 226, 6, 10%);
    padding: 1rem;
  }
  button {
    align-self: flex-end;
  }
}

.Payment {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;


  form {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  input,
  textarea {
    width: 100%;
    margin: 10px 0;
  }

  button {
    align-self: flex-end;
    margin: 20px;
  }
}

.Success {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(188, 226, 6, 10%);
  padding: 20px;
  text-align:center;
  h3,h4 {
    margin-top: 20px;
  }
 a {
   margin-top: 40px;
 }
  .app-cta {
margin-top: 80px;
display: flex;
flex-direction: column;
align-items: center;
  }
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 40px;
  p {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .Hero {
    a {
      position: absolute;
      top: 25px;
      right: 10vw;
      bottom: auto;
    }
  }

  .TicketSection {
    justify-content: center;
    a {
      font-size: 1.5em;
    }

    div.ticket-cards {
      gap: 60px;
    }
  }

  .Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .links {
      justify-content: flex-end;
      gap: 20px;
    }
  }

  .Form {
    margin: 20px auto;
    min-height: 90vh;
    background-color:rgb(188, 226, 6, 10%);
    width: 60%;
    padding: 20px 0;
 h1 {
   font-size: 3.81rem;
 }
 h2{
   font-size: 2.44rem;
 }
 .Payment {
   form {
     width: 75%;
   }
 }
  }

  

}
